<section>
  <h3><%= link_to product.name, product_path(product) %></h3>
  <p>
    <strong>Price:</strong> <%= number_to_currency product.price %>
  </p>
  <div><%= product.description %></div>
</section>